-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: contadorjornada
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO,POSTGRESQL' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table "cache"
--

DROP TABLE IF EXISTS "cache";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "cache" (
  "key" varchar(255) NOT NULL,
  "value" mediumtext NOT NULL,
  "expiration" int(11) NOT NULL,
  PRIMARY KEY ("key")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table "cache_locks"
--

DROP TABLE IF EXISTS "cache_locks";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "cache_locks" (
  "key" varchar(255) NOT NULL,
  "owner" varchar(255) NOT NULL,
  "expiration" int(11) NOT NULL,
  PRIMARY KEY ("key")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table "failed_jobs"
--

DROP TABLE IF EXISTS "failed_jobs";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "failed_jobs" (
  "id" bigint(20) unsigned NOT NULL,
  "uuid" varchar(255) NOT NULL,
  "connection" text NOT NULL,
  "queue" text NOT NULL,
  "payload" longtext NOT NULL,
  "exception" longtext NOT NULL,
  "failed_at" timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY ("id"),
  UNIQUE KEY "failed_jobs_uuid_unique" ("uuid")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table "job_batches"
--

DROP TABLE IF EXISTS "job_batches";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "job_batches" (
  "id" varchar(255) NOT NULL,
  "name" varchar(255) NOT NULL,
  "total_jobs" int(11) NOT NULL,
  "pending_jobs" int(11) NOT NULL,
  "failed_jobs" int(11) NOT NULL,
  "failed_job_ids" longtext NOT NULL,
  "options" mediumtext DEFAULT NULL,
  "cancelled_at" int(11) DEFAULT NULL,
  "created_at" int(11) NOT NULL,
  "finished_at" int(11) DEFAULT NULL,
  PRIMARY KEY ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table "jobs"
--

DROP TABLE IF EXISTS "jobs";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "jobs" (
  "id" bigint(20) unsigned NOT NULL,
  "queue" varchar(255) NOT NULL,
  "payload" longtext NOT NULL,
  "attempts" tinyint(3) unsigned NOT NULL,
  "reserved_at" int(10) unsigned DEFAULT NULL,
  "available_at" int(10) unsigned NOT NULL,
  "created_at" int(10) unsigned NOT NULL,
  PRIMARY KEY ("id"),
  KEY "jobs_queue_index" ("queue")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table "migrations"
--

DROP TABLE IF EXISTS "migrations";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "migrations" (
  "id" int(10) unsigned NOT NULL,
  "migration" varchar(255) NOT NULL,
  "batch" int(11) NOT NULL,
  PRIMARY KEY ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table "password_reset_tokens"
--

DROP TABLE IF EXISTS "password_reset_tokens";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "password_reset_tokens" (
  "email" varchar(100) NOT NULL,
  "token" varchar(255) NOT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("email")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table "registros"
--

DROP TABLE IF EXISTS "registros";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "registros" (
  "id" bigint(20) unsigned NOT NULL,
  "user_id" bigint(20) unsigned DEFAULT NULL,
  "entry_time" timestamp NOT NULL DEFAULT current_timestamp(),
  "departure_time" timestamp NULL DEFAULT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("id"),
  KEY "registros_user_id_index" ("user_id"),
  CONSTRAINT "registros_user_id_foreign" FOREIGN KEY ("user_id") REFERENCES "users" ("id") ON DELETE SET NULL
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table "roles"
--

DROP TABLE IF EXISTS "roles";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "roles" (
  "id" bigint(20) unsigned NOT NULL,
  "name" varchar(50) NOT NULL,
  "description" varchar(255) DEFAULT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("id"),
  UNIQUE KEY "roles_name_unique" ("name")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table "sessions"
--

DROP TABLE IF EXISTS "sessions";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "sessions" (
  "id" varchar(255) NOT NULL,
  "user_id" bigint(20) unsigned DEFAULT NULL,
  "ip_address" varchar(45) DEFAULT NULL,
  "user_agent" text DEFAULT NULL,
  "payload" longtext NOT NULL,
  "last_activity" int(11) NOT NULL,
  PRIMARY KEY ("id"),
  KEY "sessions_user_id_index" ("user_id"),
  KEY "sessions_last_activity_index" ("last_activity")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table "users"
--

DROP TABLE IF EXISTS "users";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "users" (
  "id" bigint(20) unsigned NOT NULL,
  "name" varchar(50) NOT NULL,
  "surname" varchar(50) NOT NULL,
  "email" varchar(100) NOT NULL,
  "password" varchar(255) NOT NULL,
  "email_verified_at" timestamp NULL DEFAULT NULL,
  "is_active" tinyint(1) NOT NULL DEFAULT 0,
  "rango" varchar(50) NOT NULL DEFAULT 'Empleado',
  "rol_id" bigint(20) unsigned DEFAULT 2,
  "remember_token" varchar(100) DEFAULT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("id"),
  UNIQUE KEY "users_email_unique" ("email"),
  KEY "users_rol_id_foreign" ("rol_id"),
  CONSTRAINT "users_rol_id_foreign" FOREIGN KEY ("rol_id") REFERENCES "roles" ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-02-20  9:02:30
